<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right navbar-override">
        <li><a ng-class="ctrl.isSelected('home')" ng-click="ctrl.route(1)">Home</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Furniture <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a>All</a></li>
            <li><a>Seating</a></li>
            <li><a>Tables</a></li>
            <li><a>Lighting</a></li>
            <li><a>Accessories</a></li>
            <li><a>Special Projects</a></li>
          </ul>
        </li>
        <li><a ng-class="ctrl.isSelected('collection')" ng-click="ctrl.route(3)">Collection</a></li>
        <li><a ng-class="ctrl.isSelected('connect')" ng-click="ctrl.route(4)">Connect</a></li>
        <li class="socialIconsNav">
        	<a class="social__iconBox__icon" href="https://www.youtube.com/" target="_blank">
			<i class="fa fa-youtube-square social__iconBox__yt" aria-hidden="true"></i>
			</a>
			<a class="social__iconBox__icon iconInsta" href="https://www.instagram.com/" target="_blank">
				<i class="fa fa-instagram social__iconBox__igBox__white__ig" aria-hidden="true"></i>
			</a>
		</li>

      </ul>
    </div><!-- /.navbar-collapse -->   
  </div><!-- /.container-fluid -->
</nav>
<ui-view></ui-view>