<div id="top"></div>
<div class="jumbotron hero" ng-click="ctrl.scrollTo(4)">
	<div class = "hero__container">
		<!-- <video id="demovid" class="hero__container__video" autoplay="true" loop="true" preload="true">
			<source  type="video/mp4" src="assets/images/intro.mp4"/>
		</video> -->
    <img class="heroImage" src="/assets/images/hero-wood.jpeg" alt="">


	</div>
</div>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <!-- <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul> -->

      <ul class="nav navbar-nav navbar-right navbar-override">
        <li><a class="selected" href="#">Home</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Furniture <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">All</a></li>
            <li><a href="#">Seating</a></li>
            <li><a href="#">Tables</a></li>
            <li><a href="#">Lighting</a></li>
            <li><a href="#">Accessories</a></li>
            <li><a href="#">Special Projects</a></li>
          </ul>
        </li>
        <li><a ng-click="ctrl.route(3)">Collection</a></li>
        <li><a ng-click="ctrl.route(4)">Connect</a></li>
        <li class="socialIconsNav">
        	<a class="social__iconBox__icon" href="https://www.youtube.com/" target="_blank">
			<i class="fa fa-youtube-square social__iconBox__yt" aria-hidden="true"></i>
			</a>
			<a class="social__iconBox__icon iconInsta" href="https://www.instagram.com/" target="_blank">
				<i class="fa fa-instagram social__iconBox__igBox__white__ig" aria-hidden="true"></i>
			</a>
		</li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- <div class="social">
	<div class="social__iconBox">
		<a class="social__iconBox__icon" href="https://www.youtube.com/user/ITerenceI" target="_blank">
			<i class="fa fa-youtube-square social__iconBox__yt" aria-hidden="true"></i>
		</a>
		<a class="social__iconBox__icon" href="https://www.facebook.com/ITERENCEI/?fref=ts" target="_blank">
			<i class="fa fa-facebook-square social__iconBox__fb" aria-hidden="true"></i>
		</a>
		<div class="social__iconBox__igBox">
			<a class="social__iconBox__igBox__white social__iconBox__icon" href="https://www.instagram.com/iterencei/" target="_blank">
				<i class="fa fa-instagram social__iconBox__igBox__white__ig" aria-hidden="true"></i>
			</a>
			<a class="social__iconBox__igBox__colour social__iconBox__icon" href="https://www.instagram.com/iterencei/" target="_blank">
				<img src="assets/images/ig_logo.png" class="social__iconBox__igBox__colour__ig">
			</a>
		</div>
	</div>
</div> -->

<div id="cover">

  <div class="squareHome">
    <h2>A</h2>
  </div>
  <div class="squareHome">
    <h2>B</h2>
  </div>
  <div class="squareHome">
    <h2>C</h2>
  </div>
  <div class="squareHome">
    <h2>D</h2>
  </div>
  <div class="squareHome">
    <h2>E</h2>
  </div>



	<!-- <div class="navBar" ng-style="{'position':ctrl.navBarPos, 'opacity' : ctrl.opacity}">
		<div class="navBar__tabs">
			<div><h4 class="{{ctrl.isSelected('services')}}" ng-click="ctrl.scrollTo(1)">SERVICES</h4></div>
			<div><h4 class="{{ctrl.isSelected('about')}}" ng-click="ctrl.scrollTo(2)">ABOUT</h4></div>
			<div><h4 class="{{ctrl.isSelected('contact')}}" ng-click="ctrl.scrollTo(3)">CONTACT</h4></div>
		</div>
	</div> -->


</div>
