<div id="top"></div>
<div class="jumbotron hero" ng-click="ctrl.scrollTo(4)">
	<div class = "hero__container">
		<!-- <video id="demovid" class="hero__container__video" autoplay="true" loop="true" preload="true">
			<source  type="video/mp4" src="assets/images/intro.mp4"/>
		</video> -->
    <!-- <img class="hero__container__image" src="/assets/images/hero-wood.jpeg" alt=""> -->


	</div>
</div>

<!-- <div class="social">
	<div class="social__iconBox">
		<a class="social__iconBox__icon" href="https://www.youtube.com/user/ITerenceI" target="_blank">
			<i class="fa fa-youtube-square social__iconBox__yt" aria-hidden="true"></i>
		</a>
		<a class="social__iconBox__icon" href="https://www.facebook.com/ITERENCEI/?fref=ts" target="_blank">
			<i class="fa fa-facebook-square social__iconBox__fb" aria-hidden="true"></i>
		</a>
		<div class="social__iconBox__igBox">
			<a class="social__iconBox__igBox__white social__iconBox__icon" href="https://www.instagram.com/iterencei/" target="_blank">
				<i class="fa fa-instagram social__iconBox__igBox__white__ig" aria-hidden="true"></i>
			</a>
			<a class="social__iconBox__igBox__colour social__iconBox__icon" href="https://www.instagram.com/iterencei/" target="_blank">
				<img src="assets/images/ig_logo.png" class="social__iconBox__igBox__colour__ig">
			</a>
		</div>
	</div>
</div> -->

<div id="cover">
  <div class="squareContainer">
    <div class="squareHome">
      <h2>A</h2>
    </div>
    <div class="squareHome">
      <h2>B</h2>
    </div>
    <div class="squareHome">
      <h2>C</h2>
    </div>
    <div class="squareHome">
      <h2>D</h2>
    </div>
    <div class="squareHome">
      <h2>E</h2>
    </div>
  </div>



	<!-- <div class="navBar" ng-style="{'position':ctrl.navBarPos, 'opacity' : ctrl.opacity}">
		<div class="navBar__tabs">
			<div><h4 class="{{ctrl.isSelected('services')}}" ng-click="ctrl.scrollTo(1)">SERVICES</h4></div>
			<div><h4 class="{{ctrl.isSelected('about')}}" ng-click="ctrl.scrollTo(2)">ABOUT</h4></div>
			<div><h4 class="{{ctrl.isSelected('contact')}}" ng-click="ctrl.scrollTo(3)">CONTACT</h4></div>
		</div>
	</div> -->


</div>
