@font-face {
    font-family: 'Norwester';
    src:url('../fonts/norwester.otf');
}

@font-face {
    font-family: 'Kollektif';
    src:url('../fonts/Kollektif.ttf');
}

@font-face {
    font-family: 'Montserrat-Light';
    src:url('../fonts/Montserrat-Light.otf');
}

@font-face {
    font-family: "BebasNeue";
    src:url('../fonts/BeBasNeue-Light.otf');
}

body{
    height:100vh;
    background:white;
}

h2{
    font-family: 'Norwester';
    font-size:45px;
    height:35px;
    line-height:0.75;
}

h3, strong{
    font-family: 'Kollektif';
    font-weight:bold;
}

p {
    font-family: 'Montserrat-Light';
    font-size:14px;
}
input, button, select, label{
    font-family: 'Montserrat-Light';
}

.selected {
    border-bottom: 3px solid darkgrey;
}

.navbar-nav>li>a.selected {
    padding: 15px 5px 5px 5px;
    margin-left: 10px;
    margin-right: 10px;
}

nav.navbar-override {
    height: 40px;
}

i.fa.fa-youtube-square.social__iconBox__yt, i.fa.fa-instagram.social__iconBox__igBox__white__ig {
    font-size: 28px;
}

.navbar-default .navbar-nav>li>a.social__iconBox__icon {
    padding: 12px 6px;
    display: inline-block;
}

.collectionTitle {
    position: absolute;
    top: 50px;
}


li.socialIconsNav {
    margin-left: 30px;
}

#top{
    position:absolute;
    top:0;
}

.hero {
    padding: 0;
    margin: 0;
    height:100%;
    background: transparent;
    overflow:hidden;
    &__container {
        overflow:hidden;
        height:100%;
        background-image:url('../images/hero-wood.jpeg');
        background-size:cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        &__video {
            min-height:100%;
            min-width:100%;
            position: fixed;
            left:50%;
            top:50%;
            transform:translate(-50%, -50%);
            z-index:-5;
        }
    }
}

.logo{
    &__cam {
        position:absolute;
        top: 50%;
        left:50%;
        transform:translate(-50%,-75%);
        & img{
            height:50px;
            margin-top:10px;
            /*-webkit-filter: invert(100%); */
        }
    }
    &__name {
        z-index:10;
        left:50%;
        transform: translateX(-50%);
        &--Abs{
            position:absolute;
            top:50%;

        }
        &--Fix{
            position: fixed;
            top:0;
        }
        & img{
            height:75px;
            /*margin-top:10px;*/
            z-index:10;
            /*-webkit-filter: invert(100%);    */
        }
    }
    &__chev {

        height:25px;
        width:25px;
        color:white;
        font-size:25px;
        position:absolute;
        left:50%;
        top:50%;
        transform:translate(-50%, 250%);
        &>i{
            height:25px;
            width:25px;
            /*-webkit-filter: invert(100%);
            filter: invert(100%);*/
        }
        &:hover{
            color:black;
        };
    }
    &:hover{
    }
}

#cover {
    z-index: 2;
    width:100%;
    min-height: 100vh;
    background-color:white;
    position:relative;
    overflow:hidden;
}

.navbar {
    position:fixed;
    top:0;
    width:100%;
    z-index:5;
    border-radius:0;
    & a:hover {
        cursor:pointer;
    }
}
.square{
    &Container{
        width:80%;
        margin:0 auto;
    }
    &Home{
        display:inline-block;
        display: inline-block;
        border: black 1px solid;
        height: 200px;
        width: 200px;
        float: left;
          
    }
}

.navBar {
    z-index:6;
    top:0;
    width:100%;
    height:75px;
    background-color:rgb(51,51,51);
    &Placeholder {
        height:52px;
        width:100%;
        margin:0;
    }
    &__tabs{
        color:white;
        padding-left:15px;
        display:inline-block;
        height:75px;
        &>div{
            display:inline-block;
            text-align:middle;
            margin-right:5px;

            &>h4{
                line-height:30px;
                padding-top:22.5px;
                margin:0;
                &:hover{
                    cursor:pointer;
                }
            }
            & .selected {
                border-bottom: white 3px solid;
            }
        } 
    }
}

.services {
    position:relative;
    padding-top: 75px;
    padding-bottom: 75px;
    top:65px;
    width:100%;
    display:block;
    &__title{
        /*height:35px;
        line-height:0.75;*/
    }
    &__list{
        &__item{
            float:left;
            opacity:0;
            &:hover{
                cursor:pointer;
            }
            &__title{
                margin:0;
                width:100%;
                text-align:center;
                font-size:28px;
                position:absolute;
                top:50%;
                transform: translateY(-50%);
                color:white;
                transition: all 1s ease;
            }
            &__hoverText{
                position:absolute;
                bottom:0;
                height:50%;
                width:100%;
                padding:10px;
                font-size:16px;
                opacity:0;
                background-color:rgba(0,0,0,0.65);
                transition: all 1s ease;
                & p{
                    color:white;
                    text-align: justify;
                }
            }
            &>div{
                height:250px;
                position:relative;
                overflow:hidden;
                display:block;
                margin:0 auto 30px auto;
                background-size:cover;
                transition: all 1s ease;
                &>img{
                    min-height:100%;
                    width:100%;
                    position:absolute;
                    left:50%;
                    top:50%;
                    transform:translate(-50%, -50%);
                }
                &>h2{
                    position:absolute;
                    top:-70px;
                    left:0;
                }
                /*&:hover{

                    &>h3{
                        opacity:0 !important;
                    }
                    &>div {
                        opacity:1 !important;
                    }
                }*/
            }
            &__sb{
                background-image:url('../images/smallbusiness.jpg');
                background-size:cover;
                background-position:center;
            }
            &__wed{
                background-image:url('../images/weddings.jpg');
                background-size:cover;
                background-position:center;
            }
            &__su{
                background-image:url('../images/startups.jpg');
                background-size:cover;
                background-position:center;
            }
            &__corp{
                background-image:url('../images/corporate.jpg');
                background-size:cover;
                background-position:center;
            }
        }
    }
}

.aboutnquote{
    position:relative;
    width:100%;
    margin:0;
}

.demotitle{
    /*height:35px;
    line-height:0.75;*/
}

.vidcontainer{
    position:relative;
    padding-bottom: 56.25%; /* 16:9 */
    height:0;
    /*margin-bottom:10px;*/

    /*width:100%;*/
    &>iframe{

        position:absolute;
        top: 0;
  /*      left: 50%;
        transform:translateX(-50%);*/
        width: 100%;
        height: 100%;


    }
}
#about{
    height:75px;
    margin-top:-75px;
}
.about{
    &__title{
        margin-top:30px;
    }
    &__portrait{
        overflow:hidden;
        padding:0;
        &>img{
            width:100%;
            position: relative;
            /*bottom: 110px;*/
        }
    }
    &__text{
        padding-left:0;
        &>p{
            font-size:16px;
        }
    }
    &__images{
        width:15%;
        margin-right:4%;
        &__container{
            padding:0;
            position:relative;
        }
    }
}

.portfolio {
    height:250px;
    position:relative;
    padding-left:0;
    &__contents{
        &__title{
            margin-top:0;
        }
        &>a{
            display:inline-block;
            &>i{
                color:rgb(51,51,51);
                font-size:40px;
                transition: all 0.5s ease;
            }
            &>p{
                color:rgb(51,51,51);
                display:inline-block;
                font-size:35px;
                padding-left:20px;
                transition: all 0.5s ease;
                /*background: url('../images/ig_bg.png');
                background-size:cover;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;*/
            }
            &:hover{
                text-decoration:none;
            }
        }
        &__yt:hover{
            &>i,>p{
                color:rgb(187,0,0);
            }
        }
        &__fb:hover{
            &>i,>p{
                color:rgb(59,89,152);
            }
        }
        &__ig{
            position:relative;
            & strong{
                transition: all 0.5s ease;
                background: url('../images/ig_bg.png');
                background-size:cover;
                -webkit-background-clip: text;
                color:rgb(51,51,51);
            }
            &__img{
                position:absolute;
                height: 48px;
                width: 48px;
                background-size: cover;
                top: -2px;
                left: -7px;
                background-image:url('../images/ig_logo.png');
                opacity:0;
                transition: all 0.5s ease;
            }
            &:hover{
                &>div{
                    opacity:1;
                }
                &>i{
                    opacity:0;
                }
                & p{
                    opacity:1;
                }
                & strong{
                    color: rgba(0, 0, 0, 0);
                }

            }
        }
    }
}

#contact{
    height:75px;
    margin-top:-75px;
}

.quote{
    height:503px;
    position:relative;
    padding-right:0;
    margin-bottom:75px;
    &__contents{
        margin-top:30px;
        &__title{
            margin-top:0;
        }
        &__btn{
            float:right;
        }
    }
}

.social {
    height:50px;
    width:100%;
    right:0;
    top:0;
    z-index:10;
    position:fixed;
    background-color:rgb(51,51,51);
    &__iconBox{
        position:absolute;
        right:0;
        bottom:0;
        margin:0 10px 0 10px;
        &__icon {
            color:white;
            font-size:35px;
            display:inline-block;
            &:hover{
                cursor:pointer;
            }
        }
        &__yt{
            transition: all 0.5s ease;
            &:hover{
                color:rgb(187,0,0);
                transition: all 0.5s ease;
            }
        }
        &__fb{
            transition: all 0.5s ease;
            :hover{
                color:rgb(59,89,152);
                transition: all 0.5s ease;
            }
        }
        &__igBox:hover{
            & a i {
                opacity: 0;
                transition: all 1s ease;
            }

            & a img {
                opacity: 1;
                transition: all 1s ease;
            }
        }
        &__igBox{
            display:inline-block;
            &__white{
                margin:0;
                margin-left:10px;
                &__ig{
                    transition: all 1s ease;
                }
            }
            &__colour{
                margin-left:0 !important;
                &__ig{
                    width:43px;
                    margin-bottom:9px;
                    position:absolute;
                    bottom:4px;
                    right:7px;
                    opacity:0;
                    transition: all 1s ease;
                }
            }
        }

    }
}

.footer {
    display:none;
    width:100%;
    height:75px;
    background-color:rgb(51,51,51);
    position:relative;
    &__social{
        position:absolute;
        width:100%;
        text-align:right;

    }
}
/*.test1{
    position:relative;
    background-color:black;
    width:516px;
    height:143px;
}

.test2{
    position:absolute;
    top:0;
    left:0;
    width:516px;
    height:143px;
    background-color:black;
    background: url('../images/logo_clear.png');
}*/

/*@media (min-width:900px) {
    .hero{
        min-width: 100vw;
        &__container{
           width:100vw;
            &__video{
                width: 900px;
            }
        }
    }
}*/

@media (max-width: 768px){
    .quote{
        padding:0;
    }
    .about__images{
        width:40%;
    }
    .navBar__tabs, .social{
        display:none;
    }
    .footer {
        display:block;
        &__social{
            display:block;
        }

    }
    .services__list__item__hoverText{
        height:75%;
    }


}

@media (max-width: 1074px) and (min-width:992px){
    .services__list__item > div > img{
        height:100%;
        width:auto;
    }
}

@media (max-aspect-ratio: 16/9){
    .hero {
        &__container {
            &__video {
                height:100%;
            }
        }
    }
}

@media (min-aspect-ratio: 16/9){
    .hero {
        &__container {
            &__video {
                width:100%;
            }
        }
    }
}
